.main-header {
    position: relative;
    background: url(../img/background.jpg);
    background-size: cover;
    min-height: 500px;
}

.background-overlay {
    position: absolute;
    background: rgba(44, 62, 80,.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



